/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

/* layout */
:root {
  --primary: #243E36;
  --secondary: #F1F7ED;
  --tertiary: #8eb693;
  --error: #a10536;
}
body {
  background: var(--secondary);
  margin: 0;
  font-family: "Poppins";
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}